!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
notebooks/
deps/
custom_components/
#!.ssh/
#!id_rsa*
secrets.yaml
.ssh
.storage
.cloud
.google.token
home-assistant*.log*
id_rsa*
home-assistant_v2.db
tts/
www/
themes/
.*
dwains-dashboard/*
precommit_secruity_info/*